[Unit]
Description=Departure Board
After=network.target

[Service]
Environment="STATION_CRS=GTW"

WorkingDirectory=%h/oled-departure-board
ExecStart=%h/oled-departure-board/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
