cbor2==5.5.1
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
luma.core==2.4.1
luma.oled==3.13.0
mypy==1.8.0
mypy-extensions==1.0.0
Pillow==10.2.0
pyftdi==0.55.0
pyserial==3.5
pyusb==1.2.1
requests==2.31.0
RPi.GPIO==0.7.1
smbus2==0.4.3
spidev==3.6
stoppy==1.0.5
timed-count==1.1.1
tomli==2.0.1
types-Pillow==10.2.0.20240125
types-requests==2.31.0.20231231
typing_extensions==4.9.0
urllib3==2.1.0
