[Unit]
Description=Departure Board boot message

[Service]
WorkingDirectory=/home/ubuntu/oled-departure-board/display/startup
ExecStart=/home/ubuntu/oled-departure-board/display/startup/oled

[Install]
WantedBy=multi-user.target
