[Unit]
Description=Departure Board boot message

[Service]
WorkingDirectory=%h/oled-departure-board/display/startup
ExecStart=%h/oled-departure-board/display/startup/oled

[Install]
WantedBy=default.target
